* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #303030;
    color: #333;
}

.trainLinesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    width: 100%;
}

.trainLine {
    border-style: solid;
    border-color: #fff;
    -webkit-touch-callout: none;
    align-items: center;
    background-color: #313131;
    cursor: pointer;
    display: flex;
    padding: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1%;
    height: 3em;
    width: 3em;
}

.trainLine:hover {
    color: black;
}

.rdLine {
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blLine {
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orLine {
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grLine {
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svLine {
    border-radius: 50%;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ylLine {
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stationTime {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.stationSelectHide {
    display: none;
}

.stationDropdown {
    width: 100%;
    color: #333;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303030db;
}

.circle-container a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.5em;
}

.deg335 {
    transform: rotate(335deg) translate(9em) rotate(-335deg);
}

.deg30 {
    transform: rotate(30deg) translate(9em) rotate(-30deg);
}

.deg150 {
    transform: rotate(150deg) translate(9em) rotate(-150deg);
}

.deg205 {
    transform: rotate(205deg) translate(9em) rotate(-205deg);
}

.deg270 {
    transform: rotate(270deg) translate(9em) rotate(-270deg);
}

.deg315 {
    transform: rotate(315deg) translate(9em) rotate(-315deg);
}

.deg90 {
    transform: rotate(90deg) translate(9em) rotate(-90deg);
}
