* {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body {
    background-color: #303030;
    color: #eee;
}

.trainLinesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.trainLine {
    border-style: solid;
    border-color: #fff;
    -webkit-touch-callout: none;
    align-items: center;
    background-color: #313131;
    cursor: pointer;
    display: flex;
    padding: 10px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 1%;
    height: 3em;
    width: 3em;
    -webkit-box-shadow: 0px 0px 10px -3px #ffffff;
    box-shadow: 0px 0px 10px -3px #ffffff;
}

.trainLine:hover {
    -webkit-box-shadow: 0px 0px 10px -1px #ffffff;
    box-shadow: 0px 0px 10px -1px #ffffff;
}

.rdLine {
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blLine {
    border-radius: 50%;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orLine {
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grLine {
    border-radius: 50%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svLine {
    border-radius: 50%;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ylLine {
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stationTime {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}

.stationSelectHide {
    display: none;
}

.stationDropdown {
    width: 330px;
    color: #333;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #303030db;
}

.circle-container a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -2.5em;
}

.deg335 {
    transform: rotate(335deg) translate(9em) rotate(-335deg);
}

.deg30 {
    transform: rotate(30deg) translate(9em) rotate(-30deg);
}

.deg150 {
    transform: rotate(150deg) translate(9em) rotate(-150deg);
}

.deg205 {
    transform: rotate(205deg) translate(9em) rotate(-205deg);
}

.deg270 {
    transform: rotate(270deg) translate(9em) rotate(-270deg);
}

.deg315 {
    transform: rotate(315deg) translate(9em) rotate(-315deg);
}

.deg90 {
    transform: rotate(90deg) translate(9em) rotate(-90deg);
}

.fade1 {
    animation: fadeIn 1s ease-in both;
}

.fade2 {
    animation: fadeIn 1s ease-in both;
    animation-delay: 0.1s;
}
.fade3 {
    animation: fadeIn 1s ease-in both;
    animation-delay: 0.2s;
}
.fade4 {
    animation: fadeIn 1s ease-in both;
    animation-delay: 0.3s;
}
.fade5 {
    animation: fadeIn 1s ease-in both;
    animation-delay: 0.4s;
}
.fade6 {
    animation: fadeIn 1s ease-in both;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.closeButton {
    padding: 2px 4px;
    font-weight: bold;
    color: #303030;
}

.closeButton:hover {
    cursor: pointer;
}

.stationTitle {
    text-align: center;
    margin-top: 5px;
}

.timeUpdate {
    margin-top: 10px;
    text-align: center;
}

.container {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(90, 92, 106, 1) 0%, rgba(32, 45, 58, 1) 81.3%);
    height: 100vh;
}
